/* custom colours - all related shades */
:root {
  --custom-color-1: #061826;
  --custom-color-2: #11436a;
  --custom-color-3: #1a659e;
  --custom-color-4: #a7d1f1;
  --custom-color-5: #dcedf9;
  --custom-color-6: #edf6fc;
}

/* background colour classes */
.bg-main-1 { background-color: var(--custom-color-1) !important; }
.bg-main-2 { background-color: var(--custom-color-2) !important; }
.bg-main-3 { background-color: var(--custom-color-3) !important; }
.bg-main-4 { background-color: var(--custom-color-4) !important; }
.bg-main-5 { background-color: var(--custom-color-5) !important; }
.bg-main-6 { background-color: var(--custom-color-6) !important; }

/* text colour classes */
.text-main-1 { color: var(--custom-color-1) !important; }
.text-main-2 { color: var(--custom-color-2) !important; }
.text-main-3 { color: var(--custom-color-3) !important; }
.text-main-4 { color: var(--custom-color-4) !important; }
.text-main-5 { color: var(--custom-color-5) !important; }
.text-main-6 { color: var(--custom-color-6) !important; }

/* icon links */
.social-media a {
  color: inherit; 
  text-decoration: none; 
}

/* treatment for internal links to cope with the header being fixed */
:target {
  display: block;
  position: relative;
  top: -3.6rem;
  visibility: hidden;
}

/* bootstrap right caret fill icon as list bullet in skills lists */
.skill-list li:before {
  content: "\F231";
  font-family: 'bootstrap-icons';
  float: left;
  padding-right: 14px;
  color: var(--custom-color-2);
}

/* size company icons appropriately */
.business-icons img {
  height: 3rem;
  margin: 1rem;
  display: block;
}

/* positioning and styling of the education card icons */
.edu-icon-holder {
  width: 60px;
  height: 60px;
  top: -30px;
  left: 50%;
  margin-left: -30px;
}

.edu-icon-holder img {
  vertical-align: middle;
  transform: translateY(50%);
  height: 30px;
  filter: invert(100%);
}